<header class="header">
   <div class="header__wrap content">
       <a href class="header__logo">LoremIpsum.<span class="text-blue">net</span></a>
       <ul>
           <li><a href="#">Бизнес</a></li>
           <li><a href="#">О нас</a></li>
           <li><a href="#">Цены</a></li>
           <li><a href="#">Оформить заказ</a></li>
       </ul>
       <div class="close"></div>
   </div>
</header>